<html>
  <head>
    <!-- cross frame scripting fixes -->
    <style>
      html {
        display: none;
      }
    </style>
    <script>
      if (self == top) {
        document.documentElement.style.display = 'block';
      } else {
        top.location = self.location;
      }
    </script>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
