$brand_color: #2A79FF;
$white: #FFFFFF;
$gray: #ABABAB;
$gray_2: #E9E9E9;
$orange: #F7BB25;
$green: #79E742;
$red: #E74242;
$black: #000000;
$black_2: #2A2A2A;
$black_3: #444444;
$blue: #2553d1;
$violet: #8A2BE2;
$paylink: #EA4D3A;
$fortitle: #595959;