@import '../variables';
.ui {
    &.tab.active {
        border: none;
    }
    &.tabular.menu .item {
        text-transform: uppercase;
        &.active {
            color: $brand_color;
        }
    }
}

.hidden {
    display: none;
}